.side-drawer {
   max-height: 800px;
   background: white;
   overflow-x: hidden;
}
.tag-filter{
	color:black;
}
.tag-filter:hover, .currentTag:hover{
	text-decoration: none;
}
.currentTag, .currentTag:hover{
	cursor: default;
	color: grey;
}