$primary: #11998e;
$secondary: #38ef7d;
$black: #000000;
$gray: #9b9b9b;
$label-size: 60px;
$label-margin: 16px;
$label-before-size: 40px;
$color-light: white;
$color-brand: #2196F3;
$color-font: rgba(black, .54);
$font-size-md: 14px;
$font-size-lg: 24px;
$font-size-xl: 54px;
$font-light: 300;
$font-normal: 400;
$font-bold: 500;
$star: "\2605";

.App {
  	margin: 0 auto;
  	width:80%;
  	header{
  		display: flex;
  		justify-content: center;
  		align-items: center;
	  .toggleAdd{
	  	border-radius: 15px ;
	  	border:1px solid black;
 			height: 30px ;
  		width: 30px ;
	  	background-color: transparent;
	 		padding:0 5px 8px 5px;
	 		margin:0 0 0.4rem 0.8rem;
	 		font-size: 1.2rem;
	  	text-align: center;
	  	text-decoration: none;
	  	&:hover{
	  		background-color: black;
	  		color:white;
	  		cursor: pointer;
	  	}
	  	&:focus{
				outline: none;
	  		text-decoration: none;
	  	}
	  }
 	}
	.overlay {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.7);
	  transition: opacity 500ms;
	  visibility: visible;
	  opacity: 1;
	  z-index: 10;
	}
	.popup {
		width: 100%;
  	height: 100%;
  	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
	  padding: 25px;
	  background: #fff;
	  transform: translate3d(0vw, 0, 0);
	  transition: all 5s ease-in-out;
	}
	.close {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all 200ms;
	  font-size: 30px;
	  font-weight: bold;
	  cursor:pointer;
	  color: #333;
	}
	.close:hover {
	  color: #06D85F;
	}
	.back {
	  position: absolute;
	  top: 5px;
	  left: 40px;
	  transition: all 200ms;
	  font-size: 2rem;
	  font-weight: bold;
	  cursor:pointer;
	  color: #333;
    outline:none;
	}
	.back:hover {
	  color: $color-brand;
	}
	.popup .content {
	  overflow: auto;
	}

	// @media screen and (max-width: 700px){
	//   .popup{
	//     width: 100%;
	//   }
	// }

.form__group_popup{
	position: relative;
  padding: 15px 10px;
  margin-top: 10px;
  width: 70%;
}
.form__field{
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 30px 0 0 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}
.space{
	white-space: pre-wrap;
}
.form__field_custom{
	height:50vh;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  margin: 30px 0 0 0;
  // padding: 20px 0 0 0;
  background: transparent;
  transition: border-color 0.2s;
  resize: none;
  &:placeholder-shown  {
		text-align:center;
		  &:focus {
    	text-align: left;
  	}
	}
  &:focus::placeholder {
  	color: transparent;
	}
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.8rem;
  color: $gray;
}
// .form__label2{
// 	position: absolute;
//   top: 0;
//   display: block;
//   transition: 0.2s;
//   font-size: 1.8rem;
//   color: $gray;
// }
.form__field:focus , .form__field_custom:focus{
  ~ .form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    // font-size: 1rem;
    color: black;
    font-weight:700;
  }
  // font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $color-brand, white);
  border-image-slice: 1;
}

.noteBtn{
	padding:5px 10px 5px 10px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size:1rem;
	border: 1px solid black;
	border-radius:10%;
	&:hover{
		background-color:black;
		color:white;
	}
	&:focus{
		outline: none;
	}
}
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
h2{
	margin-top: 30px;
}
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
* {
   @include font-smoothing(on);
}
.title {
  font-size: $font-size-xl;
  font-weight: $font-light;
  margin-bottom: 54px;
  small {
    font-size: 16px;
  }
}

.link {
  display: block;
  color: $color-font;
  margin-top: 54px;
}
.checkbox-input {
  display: none;
}
.note-label, .note-text, .note-text--description {
   transition:all .4s ease;
}
.note-label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  padding: $label-size/2 $label-size;
  font-size: $font-size-lg;
  font-weight: $font-normal;
  margin: $label-margin 0;
  border: 1px solid darken($color-light, 15%);
  border-radius:2px;
  box-shadow: 3px 3px 5px 6px #ccc;
 // box-shadow:inset 0 0 0 0 $color-brand;
  z-index: 2;
  &:before {
    position: absolute;
    top: 75%;
    //left: -20px;
    left: 0px;
    width: $label-before-size;
    height: $label-before-size;
    opacity: 0;
    font-size: 25px;
    content: $star;
    color: $color-brand;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius:50%;
    transform: translate(0%, -50%);
    transition:all .4s ease;
  }
  button{
  	border:0;
  	background: transparent;
  	position: absolute;
  	top:0;
  	font-size: 1.2rem;
  	cursor: pointer;
  	animation-fill-mode: forwards;
  	&:focus{
			outline: none;
		}
  }
  .remove{
  	right:5px;
  	color:red;
  	animation: hide2 0.5s linear;
  	z-index:1;
  }
  .edit{
  	color:#FFDA00;
    right:35px;
    animation: hide 0.5s linear;
    z-index:1;
  }
}
// .animated-box{
// 	z-index:2;
// }
.note-text {
  &--title {
    font-weight: $font-bold;
  }
  &--description {
    font-size: $font-size-md;
    margin-top: 16px;
    // padding-top: 16px;
    height:$font-size-md * 3;
    border-top: 1px solid $color-brand;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  	overflow: hidden;
  }
   &--footer {
    font-size: $font-size-md;
    border-top: 1px solid $color-brand;
    text-align: left;
  }
}
.details{
	&--description{
		text-align: justify;
		white-space: pre-wrap;
		width: 80%;
  	overflow: scroll;
    max-height: 70vh;
	}
}
.option{
    color:pink;
  }
.checkbox-input:checked + .note-label{
  border-color: $color-brand;
  // box-shadow:inset 0 -12px 0 0 $color-brand;
    box-shadow: 3px 3px 5px 6px #ccc;
  &:before {
    top: 0;
    opacity: 1;
  }
  & .note-text {
    // transform:translate(0, -8px);
     border-color: darken($color-light, 15%);
  }
}

.note-label { transition: all 100ms ease-in-out; }

.note-label:hover{
	border-color: $color-brand;
	transform: scale(1.02);
}

textarea{
	white-space: pre-line;
}

.fade-in {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nunito-font{
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.2rem;
}

.big-font{
	font-size: 4rem;
}

.cinzel-font{
	font-family: 'Cinzel', serif;
	letter-spacing: 0.3rem;
	word-spacing: 0.5rem;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  cursor: pointer;
}
.view-button{
	background-color: transparent;
	cursor: pointer;
	i{
		font-size: 1.2rem;
	}
  &:hover{
		i{
			color:$color-brand !important;
		}
 	}
}