.side-drawer {
   height: 100%;
   background: white;
   position: fixed;
   top: 10;
   left: 0;
   width: 30%;
   overflow-x: hidden;
   z-index: 200;
   box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
   transform: translateX(-100%);
   transition: transform 0.3s ease-in;
}
.side-drawer.open {
   transform: translateX(0);
}
.tag-filter{
	color:black;
}
.tag-filter:hover{
	text-decoration: none;
}