$font-size-md: 14px;
$color-brand: #2196F3;

.tool-label{
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    color:#999;
    &:hover{
      color:$color-brand;
    };
}
.flex-center{
	display: flex;
	justify-content: center;
}
.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}
.strikethrough{
	text-decoration: line-through;
}
.underline{
	text-decoration: underline;
}
div.DraftEditor-root{
	width: 100%;
	padding:0;
}
div.DraftEditor-root{
	outline: 0;
	color: black;
  overflow: scroll;
	background: transparent;
	resize: none;
}
.public-DraftEditor-content{
	 overflow: scroll;
}
.public-DraftStyleDefault-block{
	margin: 0 !important;
}
.public-DraftEditorPlaceholder-root{
	text-align:center !important;
	position:relative;
}

.public-DraftEditorPlaceholder-hasFocus{
	display: none;
}
.textbox-options{
	  font-family: 'Helvetica, sans-serif';
    font-size: 14px;
    margin-bottom: 10px;
}
.textbox-editor{
	  border-top: 1px solid #ddd;
    font-size: 16px;
    height:50vh;
    cursor: text;
}
.textbox-container{
    font-family: 'Georgia, serif';
    font-size: 14px;
    margin: 0 auto;
    border-bottom: 2px solid grey;
}
.note-image {
  object-fit: contain;
  max-height: 300px;
  width: 50%;
  display: block;
}
.center
{
	display: flex;
  justify-content: center;
}

.align-center > div {
    text-align: center;
}
.align-right > div{
    text-align: right;
}
.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
.dropdown-color{
	width:94%;
	background-color: #343334 !important;
}
span.color>a.dropdown-item-color{
  display:inline-block;
  width: 32%;
	padding-left:20px;
  background-color:none !important;
  &:hover{
  	text-decoration: none;
    color: inherit !important;
    transform: scale(1.5);
	}
}

.icon{
    display:inline-block;
  	background-color: #999;
    padding: 13px 13px 1px 2px;
    margin: 3px;
    &:hover{
      background: $color-brand;
    }
}
.link-icon{
	 mask: url('../icon/linkIcon.svg');
	 mask-size:cover;
}
.ul-icon{
	 mask: url('../icon/ulIcon.svg');
	 mask-size:cover;
}
.image-icon{
	 mask: url('../icon/linkIcon.svg');
	 mask-size:cover;
}

.image-icon{
	 mask: url('../icon/imageIcon.svg');
	 mask-size:cover;
}

.fontsize-icon{
	 mask: url('../icon/fontSizeIcon.svg');
	 mask-size:cover;
}

.textLeft-icon{
	 mask: url('../icon/textLeftIcon.svg');
	 mask-size:cover;
}
.textCenter-icon{
	 mask: url('../icon/textCenterIcon.svg');
	 mask-size:cover;
}
.textRight-icon{
	 mask: url('../icon/textRightIcon.svg');
	 mask-size:cover;
}