.tool-label{
	  color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
}

.flex-center{
	display: flex;
	justify-content: center;
}

.italic{
	font-style: italic;
}
.bold{
	font-weight: bold;
}

.strikethrough{
	text-decoration: line-through;
}

.underline{
	text-decoration: underline;
}
div.DraftEditor-root{
	width: 100%;
	padding:0;
}
div.DraftEditor-root{
	outline: 0;

	color: $black;
  overflow: scroll;
	background: transparent;
	resize: none;
}
.public-DraftEditor-content{
	 overflow: scroll;
}
.public-DraftStyleDefault-block{
	margin: 0 !important;
}
.public-DraftEditorPlaceholder-root{
	text-align:center !important;
	position:relative;
}

.public-DraftEditorPlaceholder-hasFocus{
	display: none;
}